<div class="myTable"><header class="total">Welcome to your custom questions </header>
<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="myTable">
    <ng-container matColumnDef="question">
        <th mat-header-cell *matHeaderCellDef class="myTable">Question?</th>
        <td mat-cell *matCellDef="let element">{{element.question}}</td>
    </ng-container>

    <ng-container matColumnDef="hint">
        <th mat-header-cell *matHeaderCellDef class="myTable">hint</th>
        <td mat-cell *matCellDef="let element">{{element.hint}}</td>
    </ng-container>
    
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="myTable">Actions</th>
        <td mat-cell *matCellDef="let element">
            <span class="action" (click)="edit(element.questionId)"> Edit</span>
            <span class="action" (click)="remove(element.questionId)">Remove</span>
        </td>        
    </ng-container>
    <ng-container matColumnDef="answer" >
      <td mat-cell *matCellDef="let element" [attr.colspan]="expanedColumnes.length">
          <div class="example-element-detail"
          [@detailExpand]="element==expandedElement ? 'expanded':'collapsed'"
          *ngFor="let answer of element.answer">
             {{answer.answer}}  
        </div>
      </td>   
    </ng-container>
    <ng-container matColumnDef="correct" >
        <td mat-cell *matCellDef="let element" [attr.colspan]="expanedColumnes.length">
            <div class="example-element-detail"
            [@detailExpand]="element==expandedElement ? 'expanded':'collapsed'"
           > <div *ngFor="let answer of element.answer">
            <input type="checkbox" (click)="check(element.questionId, answer.answerId)"/>
           </div>
             <span *ngIf="element.displayAnswer">
               <span class="correct" *ngIf="element.isCorrect">
                correct
              </span>
              <span class="incorrect" *ngIf="!element.isCorrect">
                incorrect
              </span>

            </span> 
          </div>
        </td>   
      </ng-container>
      <ng-container matColumnDef="description" >
        <td mat-cell *matCellDef="let element" [attr.colspan]="expanedColumnes.length">
            <div class="example-element-detail"
            [@detailExpand]="element==expandedElement ? 'expanded':'collapsed'">
              <div *ngIf="element.displayAnswer"> 
                <div *ngFor="let answer of element.answer" >
                  <div *ngIf="answer.isChecked">
                    {{answer.answer}}: {{answer.description}}
                  </div>

                </div>
            </div>
            <button (click)="submit(element.questionId)">check</button>  
          </div>
        </td>   
       
      </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns">   </tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement===element"
    (click)="expandedElement =expandedElement === element ? null: element">     
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['answer','correct','description']"
    class="example-detail-row"></tr>
</table>
<div class="addQuestion">
<button type="button" (click)="create()" >Add Question</button>
<button (click)="back()">back</button></div>
<header class="total">Current Total Score {{totalScore}}%</header></div>