    <form [formGroup]="myForm"><div class="box"> 

   <div> <header class="center">{{mode}} Question</header>
    <p>question</p> <input type="text" placeholder="question?" required [formControl]="question">
    <p>hint</p> <input type="text" placeholder="hint" required [formControl]="hint">
    <br><br><br>
    <button (click)="save()">Save</button>    <button (click)="back()">back</button></div> 

    <div>
       
        <div formArrayName="pAnswer">
            <h3 class="form-header pr-0">
                <button (click)="addAnswer()">Add Answer</button>            
            </h3> 
           
            <div class="row w-100 d-flex justify-content-center align-items-center"
            *ngFor="let prop of pAnswer.controls; let i = index"
            [formGroupName]="i" 
            >
            
        <div class="col">
            <input type="text"
             placeholder="answer" 
             required 
             formControlName="answer"/>
        <textarea name="reason " formControlName="description" placeholder="Why is this the case?" row=7 cols="14" ></textarea>
            <mat-checkbox formControlName="correct">Correct?</mat-checkbox> 
            <h3 class="form-header pr-0">
                <button (click)="remove(i)" >-</button>
            </h3>
        </div>
        </div>
        </div>
        </div>    
    
</div>
</form>